//
//  Config.xcconfig
//  Netflix Clone IOS
//
//  Created by 차준형 on 2022/06/03.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = 4f5dcf7356a845993a1772f2585d2e9a
YoutubeAPI_KEY = AIzaSyBLhNvbJqC9ExS1adUZ6EhsoK1-cxEICJ8
